# Erzwinge Spracherkennung als Assembly für alle relevanten Dateitypen
*.asm linguist-language=Assembly
*.ASM linguist-language=Assembly
*.s   linguist-language=Assembly
*.S   linguist-language=Assembly
*.nasm linguist-language=Assembly
*.NASM linguist-language=Assembly
*.a51 linguist-language=Assembly
*.inc linguist-language=Assembly